.embla {
    max-width: 100%;
    margin: auto;
    padding-block: 40px 1rem;

    --slide-height: 70vh;
    --slide-spacing: 1rem;
    --slide-size: 100%;

    --embla-rgb-accent: var(--thalia-rgb-accent);
    --embla-c-accent: rgb(var(--embla-rgb-accent));
}

.embla__viewport {
    overflow: visible;
    filter: drop-shadow(0px 4px 20px rgba(var(--thalia-rgb-accent), 0.15));
}

.embla__container {
    display: flex;
    align-items: center;
    margin-left: calc(var(--slide-spacing) * -1);
    cursor: grab;
    touch-action: pan-y pinch-zoom;

    &:active {
        cursor: grabbing;
    }
}

.embla__slide {
    z-index: 0;
    position: relative;
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    overflow: hidden;
    border-radius: var(--thalia-v-radius-normal);

    &::after {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - var(--slide-spacing));
        height: 100%;
        border: 1px solid rgba(var(--thalia-rgb-accent), 0.1);
        border-radius: var(--thalia-v-radius-normal);
        content: '';
    }
}

.embla__controls {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.8rem;
    gap: 1rem;
}

.embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0.6rem;
}

.embla__button {
    -webkit-appearance: none;
    display: inline-flex;
    display: flex;
    appearance: none;

    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 3.6rem;
    margin: 0;
    padding: 0;
    transform: rotate(0deg);
    border: 0;
    border: 2px solid var(--embla-c-accent);
    border-radius: 50%;
    background-color: transparent;
    color: var(--embla-c-accent);
    text-decoration: none;
    cursor: pointer;
    touch-action: manipulation;

    svg {
        transition: transform 0.25s ease;
    }
    &:active {
        svg {
            transition: transform 0s ease;
        }
    }
    &--prev {
        svg {
            transform: translateX(-1px);
        }
        &:active svg {
            transform: translateX(-4px);
        }
    }
    &--next {
        svg {
            transform: translateX(1px);
        }
        &:active svg {
            transform: translateX(4px);
        }
    }

    &--disabled {
        opacity: 0.4 !important;
        pointer-events: none;
    }
}

.embla__button__svg {
    width: 50%;
    height: 50%;
    --svg-w: 8px;
}

.embla__selected-snap-display {
    display: inline-grid;
    grid-template-areas: 'stack';
    align-self: center;
    justify-self: flex-end;
    color: var(--embla-c-accent);
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    opacity: 0.75;

    &::after {
        visibility: hidden;
        grid-area: stack;
        padding-left: 0.35em;
        content: attr(data-max-display);
        pointer-events: none;
    }

    > .embla__selected-snap-value {
        grid-area: stack;
    }
}

.embla__scrollbar-shell {
    --embla-progress: 0;
    --embla-track-height: 2px;
    --embla-thumb-size: 1.4rem;
    --embla-thumb-size-active-w: 1rem;
    --embla-thumb-size-active-h: 1.8rem;
    --embla-thumb-size-hover-w: 0.7rem;
    --embla-thumb-size-hover-h: 2.1rem;
    --embla-thumb-w: var(--embla-thumb-size);
    --embla-thumb-h: var(--embla-thumb-size);
    --embla-thumb-left: calc(
        var(--embla-progress) * (100% - var(--embla-input-padding) * 2) + var(--embla-input-padding)
    );
    --embla-input-padding: 1.5rem;

    display: inline-flex;
    position: relative;
    width: 100%;
    height: 2rem;
    margin: 0;
    padding: 0;

    input {
        z-index: 1;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        padding-inline: var(--embla-input-padding);
        border: 0;
        outline: none;
        cursor: pointer;
        opacity: 0 !important;
        pointer-events: auto;
        touch-action: manipulation;
    }

    &::before,
    &::after {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 0;
        content: '';
        pointer-events: none;
    }

    &::before {
        left: var(--embla-input-padding);
        width: calc(100% - var(--embla-input-padding) * 2);
        height: var(--embla-track-height);
        transform: translateY(-50%);
        border-radius: 999px;
        background: rgba(var(--thalia-rgb-accent), 0.4);
    }

    &::after {
        left: var(--embla-thumb-left);
        width: var(--embla-thumb-w);
        height: var(--embla-thumb-h);
        transform: translateX(-50%) translateY(-50%);
        border-radius: 999px;
        background: var(--embla-c-accent);
        transition:
            opacity 0.3s ease,
            width 0.2s cubic-bezier(0.4, 0, 0, 1),
            height 0.2s cubic-bezier(0.4, 0, 0, 1);
    }

    &.is-range-dragging::after {
        transition: none !important;
    }

    @media (hover: hover) {
        &:hover {
            --embla-thumb-w: var(--embla-thumb-size-hover-w);
            --embla-thumb-h: var(--embla-thumb-size-hover-h);
        }
    }
    &.is-range-dragging,
    &:active {
        --embla-thumb-w: var(--embla-thumb-size-active-w);
        --embla-thumb-h: var(--embla-thumb-size-active-h);

        &::after {
            opacity: 0.75;
            transition:
                opacity 0.05s linear,
                width 0.05s linear,
                height 0.05s linear;
        }
    }
}
