
@mixin usn {
    user-select: none;
    pointer-events: none;
}

@mixin dflex($d: column, $a: center, $j: center) {
    display: flex;
    flex-direction: $d;
    align-items: $a;
    justify-content: $j;
}