$size-vertical: 700px;
$size-vertical-min: $size-vertical + 1px;
$size-square: 1100px;
$size-square-min: $size-square + 1px;

@mixin usn {
    user-select: none;
    pointer-events: none;
}

@mixin dflex($d: column, $a: center, $j: center) {
    display: flex;
    flex-direction: $d;
    align-items: $a;
    justify-content: $j;
}
