@font-face {
    font-family: "Parkinsans";
    src: url('./assets/fonts/Parkinsans-VariableFont_wght.ttf');
    font-weight: 1 999;
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url('assets/fonts/BricolageGrotesque_opsz-wdth-wght.ttf');
    font-weight: 1 999;
}