
.section-home-head {
    background-color: var(--thalia-c-bg2);
    min-height: 30vh;
}

.section-home-gallery {
    background-color: var(--thalia-c-bg);

    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        width: 100%;
        height: 6em;
        background: linear-gradient(to top, #404CFF, ease-out, transparent);
        opacity: 0.2;
    }

    .gallery-grid {
        min-height: 100vh;
    }
}













