@use 'utils' as *;

.section-main-head {
    overflow: hidden;
    background-color: var(--thalia-c-bg2);

    .titles {
        @include dflex();
        padding-top: 3rem;

        > wrapper {
            display: flex;
            flex-direction: column;
            width: auto;
            gap: 1.65em;
            font-size: 2rem;
            //transform: translateY(2vw);
            padding-bottom: 5rem;
        }

        * {
            user-select: none;
        }

        h1.title-thalia {
            font-size: 22vw;
            line-height: 0.7;
            font-family: "Bricolage Grotesque", sans-serif;
            font-variation-settings:
                "wdth" 100,
                "wght" 400,
                "opsz" 96;
            letter-spacing: -3%;
            user-select: none;
            pointer-events: none;
        }

        svg.title-thalia {
            height: 12vw;
            overflow: visible;

            --svg-w: 24px;
        }

        .title-thalia {
            width: auto;

            html:not([thalia-loading-state="hidden-fully"])[thalia-loading-state] & {
                opacity: 0;
                transform: translateY(100%);
                transition: opacity 0.6s 0.1s ease, transform 1.5s cubic-bezier(0.3, 0.3, 0, 1);
            }
            html:not([thalia-loading-state="hidden-fully"])[thalia-loading-state^="hidden"] & {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .title-thalia--off {
            position: absolute;
            opacity: 0;
            pointer-events: none;
            user-select: none;
        }

        .title-secondary-thalia {
            transform: translateX(-6px);

            h2 {
                font-size: 1em;
                line-height: 1.35;
            }
        }
    }

    .decorations {
        @include dflex($j: flex-end);

        .socials {
            @include dflex($d: row);
            gap: 2.4em;
            width: auto;
            margin-bottom: 1.5em;

            .social-btn {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1em;
                font-weight: 475;
                user-select: none;

                &:not(:first-child):not(:last-child) {
                    margin-bottom: 1.2em;
                }

                > div:first-child {
                    size: 2.75em;
                    margin-bottom: 0.5em;
                    @include usn;

                    transition: transform 0.15s ease-out;
                }

                & {
                    transform: scale(1);
                    transition: transform 0.3s cubic-bezier(0.3, 0, 0.2, 1);
                }

                &:hover {
                    transform: scale(1.05);
                    transition: transform 0.2s cubic-bezier(0.3, 0, 0.1, 1);

                    > div:first-child {
                        transform: translateY(-5%);
                        transition: transform var(--thalia-tr-jump);
                    }
                }

                &:active {
                    > div:first-child {
                        transform: translateY(2%);
                        transition: transform 0.05s ease;
                    }
                }

                html:not([thalia-loading-state="hidden-fully"])[thalia-loading-state] & {
                    transform: scale(0);
                    transition: transform 0.6s cubic-bezier(0, 0.3, 0.2, 1.35);

                    &:nth-child(1) { transition-delay: 800ms; }
                    &:nth-child(2) { transition-delay: 1000ms; }
                    &:nth-child(3) { transition-delay: 1200ms; }
                }
                html:not([thalia-loading-state="hidden-fully"])[thalia-loading-state^="hidden"] & {
                    transform: scale(1);
                }
            }
        }
    }

    @media (max-width: $size-square) {
        .decorations {
            .socials {
                gap: 2em;
                margin-bottom: 0.5em;

                .social-btn {
                    font-size: clamp(0.8em, 2vw, 1em);

                    > div:first-child {
                        size: 2.5em;
                    }
                }
            }
        }
    }
    @media (max-width: $size-vertical) {
        > wrapper {
            align-items: flex-start !important;
        }

        .titles {
            padding-top: 3rem;

            > wrapper {
                width: 100%;
                gap: 1.65em;
                font-size: 0.85em;
                transform: translateY(3vw);
            }

            svg.title-thalia {
                width: 100%;
                height: auto;
            }

            .title-secondary-thalia {
                transform: translateX(-4px);

                h2 {
                    font-size: 1.15em;
                    text-align: center;
                }
            }
        }
        .decorations {
            .socials {
                justify-content: flex-start;
                gap: 1em;
                width: 100%;
                margin-bottom: 1em;

                .social-btn {
                    flex-shrink: 0;

                    &:not(:first-child):not(:last-child) {
                        margin-bottom: 0em;
                    }

                    > div:first-child {
                        size: 2.5em;
                    }

                    span {
                        display: none;
                    }
                }
            }
        }
    }
}
.section-main-head > wrapper,
.chara-thalia--hands > wrapper {
    padding: _ var(--thalia-global-margin-head);
}
.section-main-head > wrapper,
.chara-thalia--hands .move {
    display: grid;
    grid-template-columns: 60% 1fr;
    height: auto;

    @media (max-width: $size-vertical) {
        > * {
            width: 100%;

            &:first-child {
                z-index: 0;
            }
            &:last-child {
                z-index: 1;
            }
        }
    }
}
.section-main-head > wrapper {
    @media (max-width: $size-vertical) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > * {
            &:last-child {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-end;

                :last-child {
                    flex-shrink: 0;
                }
            }
        }
    }
}
.chara-thalia--hands .move {
    @media (max-width: $size-vertical) {
        display: flex;
        align-items: center;

        > * {
            &:last-child {
                flex-shrink: 0;
                width: var(--thalia-chara-width);
            }
        }
    }
}
@media (max-width: $size-vertical) {
    .section-main-head > wrapper> *:last-child,
    .chara-thalia--hands .move {
        width: 109%;
    }
}


.section-main-gallery {
    min-height: 100vh;
    background-color: var(--thalia-c-bg);

    .main-gallery-padding-top {
        padding-top: 4.5rem;

        @media (max-width: $size-vertical) {
            padding-top: 3rem;
        }
    }

    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        width: 100%;
        height: 4em;
        background: var(--section-depth-shadow-gradient);
        opacity: 0.175;
        @include usn;
    }

}


.page-content {
    position: relative;
    width: 100%;
    min-height: 100vh;

    > * {
        padding-top: 3em;
        padding-bottom: 12em;
    }
    &.swup-transition--home > * {
        padding-top: 6em;
        @media (max-width: $size-vertical) {
            padding-top: 3em;
        }
    }
    &.project-immersive > * {
        padding-top: 0;
    }
}
.page-content-container {
    html:not([thalia-loading-state="hidden-fully"])[thalia-loading-state] & {
        transform: translateY(50vh);
        transition: transform 1.5s 0s cubic-bezier(0.3, 0.6, 0, 1);
    }
    html:not([thalia-loading-state="hidden-fully"])[thalia-loading-state^="hidden"] & {
        transform: translateY(0);
    }
}
