@use 'utils' as *;

.project-layout {
    --media-height: 70vh;
    --margin-global: 1em;

    width: 100%;
    height: auto;

    .content-body {
        > *:not(:first-child):not([class*="space"]) {
            margin-top: var(--margin-global) !important;
        }
    }

    // small layout components
    .space {
        margin: 8em _;
    }

    *[class*="width-"] {
        height: auto;
        box-sizing: border-box;

        width: 100%;
        padding: 0;
        margin: _ auto;
    }
    .width- {
        &simple {
            width: 60%;
            max-width: 100rem;
        }
        &fill {
            padding: _ var(--margin-global);
        }
        &full {
            width: 100%;
        }

        @media (max-width: $size-square) {
            &simple {
                width: 80%;
            }
        }
        @media (max-width: $size-vertical) {
            &simple {
                width: 100%;
                max-width: 100%;
                padding: _ var(--margin-global);
            }
        }
    }

    img, video {
        display: block;
        width: auto;
        max-width: 100%;
        max-height: var(--media-height);
        object-fit: cover;
    }
    .video, .img {
        width: auto;
        height: auto;
        position: relative;
        pointer-events: all;
    }
    .video > video,
    .img > img {
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;
    }

    p {
        text-wrap: initial;
        text-wrap: pretty;
    }
    .txt {
        @media (min-width: $size-square-min) {
            > * {
                padding: _ 6rem;
            }
        }
    }

    .images-line {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--margin-global);

        > * {
            flex-grow: 1;
            flex-shrink: 1;
        }

        &:not(.keep-layout) {
            &,
            &.break-thin {
                flex-wrap: wrap;
            }
            & > * {
                min-width: 20vw;

                @media (max-width: $size-square) {
                    min-width: 360px;
                }
            }
            &.break-thin > * {
                min-width: 200px;
            }
        }

        &.flexible {
            > * {
                height: var(--media-height);
            }
        }
        &.interactive {
            > * {
                flex-grow: 1;
                transition: flex-grow 0.5s cubic-bezier(0.4, 0.2, 0, 1);
            }
            > *:hover {
                flex-grow: 3.5;
            }
        }
    }

    .images-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--margin-global);

        > * {
            width: 100%;
            flex: 1;
        }
    }

    *[class*="images-grid-"] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--margin-global);
    }
    .images-grid-2 {
        grid-template-columns: 1fr 1fr;

        @media (min-width: $size-vertical-min) {
            &.flexible-last {
                > *:nth-last-child(2):nth-child(2n+2) + * {
                    grid-column: span 2;
                }
            }
        }
    }
    .images-grid-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .images-grid-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (max-width: $size-vertical) {
        *[class*="images-grid-"] {
            &:not(.keep-layout) {
                grid-template-columns: 1fr;
            }
        }
    }


    // specific
    *[thalia-p-section-name="project"] {
        @include dflex();

        > wrapper {
            width: auto;
        }
    }

    *[thalia-p-section-name="edito"] {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10rem;

        .desc {
            flex-grow: 1;
            flex-shrink: 1;
            text-wrap: balance;
        }

        .filters {
            flex-grow: 0;
            flex-shrink: 0;
            flex-wrap: wrap;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.4em;
        }

        @media (max-width: $size-vertical) {
            flex-direction: column;
            gap: var(--margin-global);

            .filters {
                flex-direction: row;
            }
        }
    }
}


// LAYOUT COMPONENTS
*[data-carousel-infinite] {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: calc(20vw + 35vh);
    min-height: 40rem;
    max-height: 70vh;

    --carousel-gap: var(--margin-global, 1em);
    --carousel-aspect-ratio: auto;

    touch-action: none;
    user-select: none;
    cursor: grab;
    &:active { cursor: grabbing; }

    & * { pointer-events: none !important; } // prevent bubbling

    > wrapper {
        position: absolute;
        top: 0;
        left: 0;
        padding: var(--carousel-gap) _;

        &,
        > wrapper {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            flex-shrink: 0;
            gap: 0;
            white-space: nowrap;

            width: auto;
            height: 100%;
        }

        > wrapper {
            > * {
                display: inline-block !important;
                position: relative !important;
                height: 100% !important;
                aspect-ratio: var(--carousel-aspect-ratio);
                padding-right: var(--carousel-gap);

                > * {
                    size: 100%;
                }
            }
        }
    }

    &.style-seamless {
        > wrapper {
            &,
            > wrapper {
                gap: 0;
            }
            > wrapper {
                > * {
                    padding-right: 0;
                }
            }

            * {
                border-radius: 0px;
            }
        }
    }
}
*[data-carousel-infinite="debug"] {
    > wrapper {
        > wrapper > * {
            &::after {
                z-index: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 8vw;
            }
            @for $i from 1 through 6 {
                &:nth-child(#{$i})::after {
                    content: "#{$i}";
                }
            }
        }
        > wrapper:nth-child(2) { color: #f00; }
        > wrapper:nth-child(3) { color: #0f0; }
    }
}

*[data-carousel-progress] {
    position: relative;
    width: 100%;
    min-height: 40rem;
    overflow: visible;
    overflow: clip;

    --carousel-padding: 10em;
    --carousel-gap: var(--margin-global, 1em);
    --carousel-aspect-ratio: auto;

    // defaults
    --progress: 0.5;
    --carousel-track-width: 100vw;
    --carousel-scroll-length: 300vh;
    --carousel-scroll-length-ratio: 0.8;


    height: 100vh; // fallback of the fallback
    height: var(--carousel-track-width); // fallback

    &,
    &[data-carousel-progress--scroll-length-ratio] {
        height: calc(var(--carousel-track-width) * var(--carousel-scroll-length-ratio));
    }
    &[data-carousel-progress--scroll-length] {
        height: var(--carousel-scroll-length);
    }

    user-select: none;
    & * { pointer-events: none !important; }

    > wrapper {
        display: flex;
        flex-direction: row;
        gap: 0;
        position: sticky;
        top: 0;
        left: 0;
        width: max-content;
        height: 100vh;
        padding: var(--carousel-padding) _;

        transform: translateX(calc(var(--carousel-track-width) * var(--progress) * -1));

        padding-left: 100vw;
        padding-right: 33vw;
        @media (max-width: $size-square) {
            padding-left: 100vh;
            padding-right: 75vh;
        }

        > * {
            flex-grow: 1;
            flex-shrink: 0;
            display: inline-block !important;
            position: relative !important;
            height: 100% !important;
            aspect-ratio: var(--carousel-aspect-ratio);

            &:not(:last-child) {
                padding-right: var(--carousel-gap);
            }

            > * {
                width: auto !important;
                height: 100% !important;
                max-height: 100% !important;
            }
        }
    }
    &[style*="--carousel-aspect-ratio"] {
        > wrapper {
            > * {
                > * {
                    size: 100% !important;
                }
            }
        }
    }

    &.style-seamless {
        > wrapper {
            * {
                border-radius: 0px;
            }
            > * {
                &:not(:last-child) {
                    padding-right: 0;
                }
                &:first-child {
                    overflow: hidden;
                    border-top-left-radius: var(--thalia-v-radius-normal);
                    border-bottom-left-radius: var(--thalia-v-radius-normal);
                }
                &:last-child {
                    overflow: hidden;
                    border-top-right-radius: var(--thalia-v-radius-normal);
                    border-bottom-right-radius: var(--thalia-v-radius-normal);
                }
            }
        }
    }
}
