
.section-footer {
    padding: 2.5rem 1rem;

    color: var(--thalia-c-beige);
    background-color: var(--thalia-c-blue);
    overflow: hidden;

    &, .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;

        text-align: center;
        font-weight: 320;
        letter-spacing: 0.35px;
    }

    .logo-thalia {
        margin: 10rem _;
        size: 8rem;

        svg {
            stroke: none;
            fill: var(--thalia-c-beige);
        }
    }

    .blob-light-footer {
        position: absolute;
        top: 0;
        transform: translateY(-80%);
        width: 100%;
        height: 25rem;
        border-radius: 50%;
        background-color: var(--thalia-c-orange);
        filter: blur(80px);
        pointer-events: none;
        user-select: none;
    }
}

.scroll-to-anchor {
    position: relative;
    width: 100%;
    height: 0;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}