@use 'utils' as *;

html {
    --thalia-rgb-blue: 64, 76, 255;
    --thalia-rgb-lightblue: 143, 183, 255;
    --thalia-rgb-orange: 242, 103, 73;
    --thalia-rgb-gold: 255, 155, 80;
    --thalia-rgb-beige: 253, 240, 250;
    --thalia-rgb-white: 255, 255, 255;

    --thalia-rgb-accent: var(--thalia-rgb-blue);
    --thalia-rgb-bg: var(--thalia-rgb-white);
    --thalia-rgb-bg2: var(--thalia-rgb-beige);


    --thalia-c-blue: rgb(var(--thalia-rgb-blue));
    --thalia-c-lightblue: rgb(var(--thalia-rgb-lightblue));
    --thalia-c-orange: rgb(var(--thalia-rgb-orange));
    --thalia-c-gold: rgb(var(--thalia-rgb-gold));
    --thalia-c-beige: rgb(var(--thalia-rgb-beige));
    --thalia-c-white: rgb(var(--thalia-rgb-white));

    --thalia-c-accent: rgb(var(--thalia-rgb-accent));
    --thalia-c-bg: rgb(var(--thalia-rgb-bg));
    --thalia-c-bg2: rgb(var(--thalia-rgb-bg2));

    --section-depth-shadow-gradient: linear-gradient(to top, rgb(64, 76, 255), ease-out, transparent);

    --thalia-tr-jump: 0.35s cubic-bezier(0.3, 0, 0, 3.75);
    --thalia-tr-jump-quick: 0.35s cubic-bezier(0.5, 0, 0, 4.5);

    --thalia-v-radius-normal: 8px;

    --thalia-global-margin-head: 5em;
    --thalia-global-margin-gallery: 4em;

    @media (max-width: $size-square) {
        --thalia-global-margin-head: 2em;
        --thalia-global-margin-gallery: 2em;
    }
    @media (max-width: $size-vertical) {
        --thalia-global-margin-head: 2rem;
        --thalia-global-margin-gallery: 2rem;
    }
}

::selection {
    background-color: var(--thalia-c-accent);
    color: var(--thalia-c-white);
}

body {
    font-family: "Parkinsans", sans-serif;
    font-weight: 375;
    letter-spacing: 1%;

    background-color: var(--thalia-c-bg);
    color: var(--thalia-c-accent);
}

video, .video, img, .img {
    border-radius: var(--thalia-v-radius-normal);
}

video,
img:not([src$=".png"]):not([src$=".svg"]) {
    background: var(--thalia-c-bg2);
    background-color: var(--thalia-c-bg2);
}


svg {
    --svg-c: var(--thalia-c-accent);
    --svg-w: 2px;

    &.svg-f-all *,
    &.svg-f-all-only *,
    &.svg-f,
    &.svg-f-only,
    .svg-f-all *,
    .svg-f-all-only *,
    .svg-f,
    .svg-f-only {
        fill: var(--svg-c);
    }
    &.svg-s-all *,
    &.svg-s-all-only *,
    &.svg-s,
    &.svg-s-only,
    .svg-s-all *,
    .svg-s-all-only *,
    .svg-s,
    .svg-s-only {
        stroke: var(--svg-c);
        stroke-width: var(--svg-w);
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    &.svg-f-all-only *,
    &.svg-f-only,
    .svg-f-all-only *,
    .svg-f-only {
        stroke: transparent;
        stroke: none;
        stroke-width: 0px;
    }
    &.svg-s-all-only *,
    &.svg-s-only,
    .svg-s-all-only *,
    .svg-s-only {
        stroke: transparent;
        fill: none;
    }
}


/* TEXT */
p {
    line-height: 1.5;

    & + p,
    & + span {
        margin-top: 0.75em;
    }
}


/* COMPONENTS */
.btn-simple {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    @media (max-width: $size-vertical) {
        gap: 0.8em;
    }
}

.btn-simple,
*[thalia-gallery-filter-btn-id] {
    color: var(--thalia-c-accent);
    background-color: rgba(var(--thalia-rgb-bg), 0.75);
    transform: translateY(0);
    transition: color 0.2s ease,
                background-color 0.2s ease,
                border-color 0.35s cubic-bezier(0.3, 0.2, 0, 1),
                transform 0.3s cubic-bezier(0.3, 0, 0, 0.9),
                margin 0.2s ease-out;

    font-size: 1em;
    line-height: 1;
    text-wrap: nowrap;
    padding: 0.5em 1.15em;
    border-radius: 99em;
    user-select: none;
    cursor: pointer;

    > span {
        display: inline-block;
    }

    .icon-container {
        size: 0.75em;
    }
    svg {
        fill: none;
        stroke-width: 12px;
        stroke-linecap: round;

        stroke: var(--thalia-c-accent);
        transition: stroke 0.2s ease;
    }

    .sticky-menu & {
        font-weight: 500;
    }

    .page-content & {
        font-size: 0.8em;
        font-weight: 500;
        padding: 0.3em 0.7em;
        border: 2px solid var(--thalia-c-accent);
    }

    &:hover {
        color: rgba(var(--thalia-rgb-accent), 0.8);
        background-color: rgba(var(--thalia-rgb-bg), 0.6);
        transform: translateY(-0.15em);
        transition: color 0.2s ease,
                    background-color 0.2s ease,
                    border-color 0.2s ease,
                    transform 0.2s cubic-bezier(0.1, 0.3, 0, 1);

        svg {
            stroke: rgba(var(--thalia-rgb-accent), 0.8);
            transition: stroke 0.2s ease;
        }
    }
    &:active {
        background-color: rgba(var(--thalia-rgb-bg), 0.15);
        transform: translateY(0.1em) !important;
        transition: color 0.1s ease,
                    background-color 0.1s ease,
                    border-color 0.1s ease,
                    transform 0.04s ease;
    }

    &.active {
        color: var(--thalia-c-bg);
        background-color: var(--thalia-c-accent) !important;

        svg {
            stroke: var(--thalia-c-bg);
        }

        &:hover {
            background-color: rgba(var(--thalia-rgb-accent), 0.85) !important;
            transform: translateY(0em);
        }

        .page-content & {
            color: var(--thalia-c-bg);
            background-color: rgba(var(--thalia-rgb-accent), 1);
            border-color: transparent !important;

            svg {
                stroke: var(--thalia-c-bg);
            }
        }
    }
}


.btn-link-attachment {
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-radius: var(--thalia-v-radius-normal);
    border: 2px solid var(--thalia-c-accent);
    padding: 1em 1.25em;
    font-size: 1em;

    .link-txt {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.4em;

        &, * { color: inherit; }

        *:empty { display: none; }

        .link-title {
            font-size: 1em;
            font-weight: 500;
        }
        .link-sub {
            font-size: 0.85em;
            font-weight: 400;
            opacity: 0.8;
        }
    }

    .link-ico {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 0;
    }
    svg {
        size: 1.75em;
        --svg-w: 8px;
    }

    & {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.2s ease,
                    transform 0.3s cubic-bezier(0.3, 0, 0, 0.9);
    }
    @media (hover: hover) {
        &:hover {
            opacity: 0.8;
            transform: translateY(-0.15em);
            transition: opacity 0.2s ease,
                        transform 0.2s cubic-bezier(0.1, 0.3, 0, 1);
        }
    }
    &:active {
        opacity: 0.4;
        transform: translateY(0) scale(0.985);
        transition: opacity 0.1s ease,
                    transform 0.04s ease;
    }
}


.lift-shadow {
    filter: drop-shadow(0px 5px 45px rgba(var(--thalia-rgb-accent), 0.15))
            drop-shadow(0px 4px 5px rgba(var(--thalia-rgb-accent), 0.05));
}


/* THALIA */
.thalia-small-profile {
    size: 8rem;

    svg {
        --svg-w: 4px;
    }
}
